<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bonus.css">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
        </ul>
    </header>
    <section>
        <div id="containerImg">
            <img src="img/AliciaTeaParty.jpg" alt="AliciaTeaParty">
            <img src="img/conejoBlanco.webp" alt="conejoBlanco">
            <img src="img/gatoCheshire.jpeg" alt="gatoChesire">
            <img src="img/LewisCarrollWorks.jpg" alt="LewisCarrollWorks">
            <img src="img/reinaCorazones.webp" alt="reinaCorazones">
        </div>
    </section>
</body>
</html>